{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 43.1479,
        "longitude": 12.1097,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Villa Tessore",
        "time_zone": "Europe/Rome",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}